@font-face {
    font-family: 'Sans';
    src: url('fonts/sans/Atkinson-Hyperlegible-Regular.woff2') format('woff2'), 
    	 url('fonts/sans/Atkinson-Hyperlegible-Regular.woff') format('woff'); 
}

@font-face {
    font-family: 'Sans Bold';
    src: url('fonts/sans/Atkinson-Hyperlegible-Bold.woff2') format('woff2'), 
    	 url('fonts/sans/Atkinson-Hyperlegible-Bold.woff') format('woff'); 
}

@font-face {
    font-family: 'Mono';
    src: url('fonts/mono/IBMPlexMono-Regular.woff2') format('woff2'), 
    	 url('fonts/mono/IBMPlexMono-Regular.woff') format('woff'); 
}

/* Use the custom font in your styles, for example: */

html,
body {
    background-color: white;
}

body {
    font-family: 'Sans', sans-serif;
    color: #333 !important; 
    font-size: 1.75rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Sans Bold', sans-serif; 
	font-weight: initial;
	color: #333 !important;
	width: 100%;
	line-height: 1.2;
}

h1:target::before, h2:target::before, h3:target::before, h4:target::before, h5:target::before, h6:target::before {
	display: none;
}

h2, h3, h4, h5, h6 {
	margin-top: 2.5rem !important;
	margin-bottom: 1.5rem !important;
}

.content .header:link {
	color: #333;
}

main h1 {
	margin-top: 4rem;
	margin-bottom: 2rem;
	transform-origin: left;
	font-size: 2.25em;
}

.content {
	overflow-y: initial;
	padding: 5rem 2.5rem 1rem 0rem;
}

.content main {
	margin-left: 10rem;
	margin-right: inherit;
}

.content img {
	border-radius: .5rem;
}

.menu-title {
	font-weight: inherit;
	font-size: 1.75rem;
	text-align: left;
	margin-left: 2rem;
	color: #333;
}

p {
	max-width: 640px;
}

.page {
	padding: 0 2rem;
}

#menu-bar {
	padding: 1rem 0;
	top: 0 !important;
	position: sticky;
	background-color: rgba(255, 255, 255, .8);
	backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: blur(1rem);
}

#search-wrapper {
	margin-top: 6rem;
}

.searchbar-outer,
.searchresults-outer {
	margin-left: 10rem;
	padding-left: .25rem;
}

.searchbar-outer {
	max-width: 360px;
}

#searchbar {
  background-color: white;
  outline: 1px solid rgba(0,0,0,.1);
  box-shadow: 0px .5rem 1rem -.25rem rgba(0,0,0,0.1);
  border: none;
}

#searchbar:focus {
	outline: 2px solid rgb(100,33,166);
	box-shadow: 0px .5rem 1rem -.25rem rgba(0,0,0,0.15);
}

.searchresults-header {
	padding-left: 0;
	padding-top: 3rem;
	font-size: .75em;
	color: #444;
}

.hljs {
  background: #f6f7f6 !important;
  color: #333;
 }

ul#searchresults span.teaser em {
	font-weight: normal;
	font-family: 'Sans Bold', sans-serif;
}

ul#searchresults {
	padding-left: 0;
}

ul#searchresults span.teaser {
	margin-left: 0;
	font-size: .825em;
}

ul#searchresults li {
	margin-bottom: 2rem;
}

#menu-bar-hover-placeholder {
	height: 0;
}

#theme-toggle {
	display: none;
}

.sidebar .sidebar-scrollbox {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}

.chapter li.chapter-item {
	margin-top: 1.25rem;
}

#menu-bar i {
	transform: scale(1.2);
	padding: 0 .75rem;
}

.chapter li a.active {
	color: #333;
	font-weight: initial;
	font-family: 'Sans Bold', sans-serif;
}

.sidebar {
	border-right: 1px solid rgba(0,0,0,0.05);
	font-size: .825em;
	background-color: #fafafa !important;
}

.sidebar h2 {
	margin-top: 0 !important;
	font-size: 1.625rem;
	margin-bottom: .5rem !important;
}

.chapter li a,
:not(pre):not(a) > .hljs {
	color: #333 !important;
}

#menu-bar.bordered {
	border-bottom: none;
}

strong {
	font-weight: initial;
	font-family: 'Sans Bold', sans-serif;
}

.nav-chapters,
.mobile-nav-chapters {
	background-color: #fff !important;
}

/* Force light theme */
body {
    --fg: #333;
    --bg: #fff;
    --fg-light: #666;
    --bg-light: #f3f3f3;
    --border: #ccc;
}

body img.emoji,
body span.emoji {
    filter: invert(0);
}

@media only screen and (max-width: 768px) {

	.content main {
		margin-left: auto;
		margin-right: auto;
	}

	.searchbar-outer,
	.searchresults-outer {
		margin-left: 0;
	}

	.page {
		padding: 0 2.5rem;
	}

	.content {
  		padding: 5rem 0rem 1rem 0rem;
  	}

  	.menu-title {
		margin-left: 1rem;
	}

}